<div>
    <div class="container">
      <header><h1>ZOCIALPRINT - touch of memories</h1></header>
      <div class="row">
        <div class="box">
          <div class="signature">
            <div class="person_1"></div>
          </div>
          <div class="name">
            <p>Maitri Inthusut</p>
            <p>Kingdom of Thailand</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_2"></div>
          </div>
          <div class="name">
            <p>Park Jeongha</p>
            <p>Republic of Korea</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_3"></div>
          </div>
          <div class="name">
            <p>Seijun Wakugawa</p>
            <p>Japan</p>
          </div>
          
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_4"></div>
          </div>
          <div class="name">
          <p>Wang Sheng</p>
          <p>People's Republic of China</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_5"></div>
          </div>
          <div class="name">
          <p>A.A. Gede Yuniartha Putra</p>
          <p>Republic of Indonesia</p>
          </div>
        </div>
      </div>
      <!--  End row top  -->
      <div class="row">
        <div class="box">
          <div class="signature">
            <div class="person_6"></div>
          </div>
          <div class="name">
            <p>Kumari Balasuriya</p>
            <p>Republic of Sri Lanka</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_7"></div>
          </div>
          <div class="name">
            <p>Hilario P. Davide III</p>
            <p>Republic of Philippines</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_8"></div>
          </div>
          <div class="name">
            <p>Danny Law Heng Kiang</p>
            <p>Malaysia</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_9"></div>
          </div>
          <div class="name">
            <p>Peter Molin</p>
            <p>Kingdom of Sweden</p>
          </div>
        </div>
        <div class="box">
          <div class="signature">
            <div class="person_10"></div>
          </div>
          <div class="name">
            <p>Boris Gladkikh</p>
            <p>Russia Federation</p>
          </div>
        </div>
      </div>
      <!--  End row top  -->
      <div class="clear-row"></div>
      <footer></footer>
    </div>
</div>