<div>
    <div class="container">
      <div class="container-main">
        <div class="header-sign"></div>
        <div class="texthead-sing"></div>
        <div class="body-sign1">
          
          <div class="box-name">
            <div class="sign-border">
              <div class="sign person_1"> 
                <% for(var i=0; i<data.length; i++) {%>
                  <% if(data[i].class == 'person_1'){ %>
                     <img style="width:100%; height:100%;" src="<%=data[i].path %>" />
                  <% } %>
                <% } %>

              </div>
            </div>
            <div class="naming-sign1">
              <img src="/images/sipapsu/พลเอก โสภณ เวคะวากยา.png" alt="">
            </div>
          </div>
          
          <div class="box-name">
            <div class="sign-border">
              <div class="sign person_2">
                <% for(var i=0; i<data.length; i++) {%>
                  <% if(data[i].class == 'person_2'){ %>
                     <img style="width:100%; height:100%;" src="<%=data[i].path %>" />
                  <% } %>
                <% } %>
              </div>
            </div>
            <div class="naming-sign2">
              <img src="/images/sipapsu/รศ.ภูวดล บุตรรัตน์.png" alt="">
            </div>
          </div>

          <div class="box-name">
            <div class="sign-border">
              <div class="sign person_3">
                <% for(var i=0; i<data.length; i++) {%>
                  <% if(data[i].class == 'person_3'){ %>
                     <img style="width:100%; height:100%;" src="<%=data[i].path %>" />
                  <% } %>
                <% } %>
              </div>
            </div>
            <div class="naming-sign3">
              <img src="/images/sipapsu/นายอิทธิฤทธิ์ กิ่งเล.png" alt="">
            </div>
          </div>
  
        </div>
        <div class="body-sign2">
          
          <div class="box-name">
            <div class="sign-border">
              <div class="sign person_4">
                <% for(var i=0; i<data.length; i++) {%>
                  <% if(data[i].class == 'person_4'){ %>
                     <img style="width:100%; height:100%;" src="<%=data[i].path %>" />
                  <% } %>
                <% } %>
              </div>
            </div>
            <div class="naming-sign4">
              <img src="/images/sipapsu/นางจีราวรรณ บุญเพิ่ม.png" alt="">
            </div>
          </div>

        </div>
        <div class="footer-sign">
          <img src="/images/sipapsu/วันศุกร์ที่ 24 เมษาย.png" alt="">
        </div>
      </div>
    </div>
</div>